<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Reporting", '#', id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><h3><%= link_to "Home", root_path %></h3></li>
        
      
        
        <%if admin_signed_in?%>
        <li><h3><%= link_to "Current Placements", dashboard_path %></h3></li>
        <li><h3><%= link_to "Reports", root_path%></h3></li>
        <li><h3><%= link_to "Admin", admins_path%></h3></li>
        
        
        <li><h3><%= link_to "Log out", destroy_admin_session_path, method: :delete %></h3></li>
        <%else %> 
        <li><h3><%= link_to "Log in", new_admin_session_path%></h3></li>
        <%end %>

      </ul>
    </nav> 
  </div>
</header>